@font-face {
  font-family: 'Outfit';
  src: url(./assets/outfit.ttf);
  font-style: normal;
}

body {
  font-family: 'Outfit';
  background-color: hsl(212, 45%, 89%);
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  color: hsl(218, 44%, 22%);
}

p {
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

.attribution {
  position: absolute;
  bottom: 16px;
  font-size: 11px;
}

.card {
  max-width: 300px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 hsl(212, 45%, 89%), 0 6px 20px 0 hsl(212, 45%, 89%);
  text-align: center;
}

.qr {
  border-radius: 8px;
  width: 100%;
}

.title {
  margin-top: 24px;
  margin-left: 8px;
  margin-right: 8px;
}

.content {
  margin-top: 4px;
}
